{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "page.html" as paging %}
{% block title %}University Rank Search{% endblock %}
{% block page_content %}
{{super()}}
<div id="body_container">
<div class="page-header">
    <h1>{{title}}</h1>
</div>
<div style="width: 10%">
</div>
<div class="form-inline">

{% if form %}
<div class="form-inline">
{{ wtf.quick_form(form) }}
</div>
{% endif %}
</div>
<p>
{% if total %}
<b>{{total}}</b> results match your search!
{% endif %}
</p>


<table class="table table-hover">
  <tr>
    <th>ROW</th>
  {% for col in column_list %}
    <th>{{col}}</th>
  {% endfor %}
  </tr>
  {% if data %}
  {% set r = [0] %}
  {% for row in data %}
  <tr>
  {% if r.append(r.pop() + 1) %}{% endif %} 
  <td>{{r[0]}}-><a href="#10{{r[0]}}" data-toggle="popover" data-placement="bottom" data-trigger="focus" data-content={% if row['COMMENT'] %} "{{row['COMMENT']}}" {% else %} "Not exist" {% endif %}><span class="glyphicon glyphicon-hand-up"></span></a></td>
  {% for col in column_list %}
    <td>{% if col == "USER ID" %}
    <a href="/applicant/{{row["USER ID"]}}">{{row["USER ID"]}}</a>
    {% elif col == "SOURCE" %}
    <a href={{row["URL"]}}>{{row["SOURCE"]}}</a>
    {% else %}{{row[col]}}{% endif %}</td>
  {% endfor %}
  </tr>
  {% endfor %}
  {% endif %}
</table>
{% if pagination %}
{{paging.render_pagination(pagination)}}
{% endif %}
</div>
<script>
$(document).ready(function(){
    $('[data-toggle="popover"]').popover();   
});



</script>
{% endblock %}
